#img_generate_form{
    /* margin: 5% auto; */
    /* height: 50vh; */
    /* height: 30vh; */
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: start;
}

#both_text_wrapper{
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    width: 100%;
}

#query_textarea_div{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 4px 12px rgba(0 0 0/0.08);
    width: 95%
}

#query_textarea_div textarea{
    width: 100%;
    /* height: 20vh; */
    height: 100%;
    padding: 25px 25px 25px 25px;
    resize: none;
    border-radius: 15px 15px 15px 15px;
    /* box-shadow: 2px 4px 12px rgba(0 0 0/0.08); */
    overflow: scroll;
    /* margin-right: 10%; */
}

#query_textarea_div textarea::-webkit-scrollbar{
    display: none;
}

#query_textarea_div textarea:focus{
    outline: none;
}

#generated_text_display{
    grid-column: 1 / span 1;
    grid-row: 2 / 2;
    width: 100%;
    color: #2563eb;
    border-radius: 0 15px 15px 0;
    /* margin-right: 10%; */
    border: none;
}

#generated_text_wrapper{
    /* height: 20vh; */
    height: 100%;
    background-color: white;
    /* box-shadow: 2px 4px 12px rgba(0 0 0/0.08); */
    padding: 10px 25px 25px 25px;
    border-radius: 15px 15px 15px 15px;
    overflow: scroll;
    text-decoration: underline;
    text-decoration-color: yellow;
}

#generated_text_wrapper::-webkit-scrollbar{
    display: none;
}

#model_selector{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
    align-self: end;
}

#model_selector select{
    width: 100%;
}

#generate_button{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 90%;
    align-self: end;
    /* justify-self: end; */
}

.img_label_wrapper{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
    height: 90%;
}

.img_wrapper{
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 4px 12px rgba(0 0 0/0.08);
    /* height: 20vh; */
    height: 100%;
    /* width: 27vw; */
    aspect-ratio: 1 / 1;
    grid-column: 3 / span 1;
    /* grid-row: 1 / span 1; */
}

.img_wrapper img{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;
}

grid {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10vh 30vh 10vh 30vh;
    margin-left: 10%;
}

.alert-wrapper {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    transition: opacity 0.1s;
    animation: slideUp 0.5s 2s forwards;
}

.alert{
    width: 40%;
    margin: 0 auto;
    color: white;
    
}

@keyframes slideUp {
    from {
        top: 10%; 
        opacity: 1; 
    }
    to {
        top: -100px; 
        opacity: 0; 
    }
}

#pix2pix-label-wrapper{
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    width: 95%;
}

#pix2pix-wrapper {
    /* grid-column: 1 / span 2;
    grid-row: 3 /span 1; */
    width: 100%;
    height: 95%;
    /* border-radius: 15px; */
    /* background-color: white; */
    /* box-shadow: 2px 4px 12px rgba(0 0 0/0.08); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    /* grid-row-gap: 25px; */
}

#pix2pix-wrapper form{
    width: 100%;
    height: 100%;
}

#reset_button{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    width: 80%;
}

#pix2pix_button {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    width: 80%;
}

#pix2pix_form{
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.label-number-group{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* margin-left: 5px; */
}

.label-number-group.steps{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.label-number-group.text-cfg{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.label-number-group.img-cfg{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.label-number-group input[type="number"]{
    width: 80%;
    height: 60%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 4px 12px rgba(0 0 0/0.08);
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
}

/* .label-number-group input[type="number"]:focus{
    outline: 2px solid grey;
} */

#pix2pix_textarea{
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 4px 12px rgba(0 0 0/0.08);
    margin-top: 10px;
    padding: 5px 15px 5px 15px; 
}

.label-instruct-group {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.label-instruct-group input{
    width: 94%;
    height: 60%;
    border-radius: 15px 15px 15px 15px;
}

/* .label-instruct-group input:focus{
    outline: 2px solid grey;
} */

#modified-img-g-wrapper{
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}


#pix2pix_form input:focus{
    outline: none;
}

.func-title-wrapper{
    /* align-self: center; */
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 2vh;
}

.func-title-wrapper h2{
    /* margin-top: 20px; */
    font-size: 2em;
    font-family: "DM Serif Display", Silkscreen, "Special Elite", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.func-title-wrapper h3{
    /* margin-top: 10px; */
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 1.1em;
    font-style: italic;
}

.func-title-wrapper:first-of-type{
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    width: 100%;
}


.func-title-wrapper:nth-of-type(2){
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
    width: 100%;
}