#img-choice-card{
    width: 100vh;
    margin: 0 auto;
    margin-top: 20vh;
    border: none;
    height: 50vh;
}

#img-choice-card figure{
    width: 40%;
}

#img-choice-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#card-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: end;
    /* margin-top: 30%; */
}

#card-actions form{
    width: 100%;
}

#card-actions button{
    width: 100%;
    margin-top: 5%;
    font-size: 1.2em;
}

.card-title{
    font-size: 2rem;    
    margin-bottom: 10%;
    line-height: 1.5;
}

.card-body {
    /* color: #2563eb; */
    /* margin-top: 10%; */
    width: 60%;
}

#img2text-wrapper{
    text-align: center;
    color: #2563eb;
    font-style: italic; 
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-color: yellow;
    white-space: normal;
}

.card-body>div:first-of-type{
    margin: auto 0;
}

.italic-yellow-underline {
    font-style: italic; 
    text-decoration: underline;
    text-decoration-color: yellow;
}