<!DOCTYPE html>
<html lang="en">
    {% include "base_head.html"%}

    <head>
        <link
            rel="stylesheet"
            href="static/css/style_search.css"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="static/css/style_index.css"
            type="text/css"
        />
    </head>

    <body>
        <nav>
            <div id="nav-title"><a href="/">Magic Prompt</a></div>
            class="page_this"
        </nav>

        <main></main>
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
        <script src="static/js/script.js"></script>
    </body>
</html>
