<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/mhDoLbDldZc3qpsJHpLogda//BVZbgYuw6kof4u2FrCedxOtgRZDTHgHUhOCVim"
            crossorigin="anonymous"
        ></script>

        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Special+Elite%7CSilkscreen%7CDM+Serif+Display"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        />
        <link
            rel="icon"
            href="static/src/wand-magic-sparkles-solid.svg"
            type="image/x-icon"
        />

        <!--- Seo Part-->
        <link rel="canonical" href="magic-prompt.net" />
        <meta name="robots" content="index,follow" />
        <meta name="googlebot" content="index,follow" />
        <meta name="revisit-after" content="1 days" />

        <meta property="og:type" content="website" />
        <meta
            property="og:title"
            content="Magic Prompt - Explore the Best AI Image Generating Prompts"
        />
        <meta property="og:url" content="magic-prompt.net" />
        <meta
            property="og:site_name"
            content="Magic Prompt - Explore the Best AI Image Generating Prompts"
        />
        <meta property="og:locale" content="en_US" />
        <meta property="article:author" content="royly010@foxmail.com" />
        <meta name="twitter:card" content="summary" />
        <meta
            name="description"
            content="Explore diverse AI image prompts on
        our site. Search by style and preferences for personalized inspiration.
        Find similar prompts to further tailor your creative journey! 在我们的网站上，您可以探索多样的AI图像生成提示。支持按风格搜索，根据喜好查找类似提示，为您的创意之旅定制个性化的灵感。"
        />
        <!-- baidu -->
        <meta name="baidu-site-verification" content="codeva-2ptCyPDL5z" />

        <!-- Google tag (gtag.js) -->
        <script src="https://www.googletagmanager.com/gtag/js?id=G-FNS66H6NJY"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-FNS66H6NJY");
        </script>
        <script>
            function imgError(img) {
                console.log("Image error:", img.src);
                const parentElement = img.parentElement;
                if (parentElement) {
                    console.log("parentElement:", parentElement);
                    parentElement.remove();
                    console.log("image removed");
                }
            }
        </script>
        <title>
            Magic Prompt - Explore the best AI Image Generating Prompts
        </title>
    </head>
</html>
