<!DOCTYPE html>
<html lang="en">
    {% include "base_head.html"%}

    <head>
        <link
            rel="stylesheet"
            href="static/css/style_search.css"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="static/css/style_index.css"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="static/css/style_generate.css"
            type="text/css"
        />
    </head>

    <body>
        <nav>
            <div id="nav-title"><a href="/">Magic Prompt</a></div>
            <div id="nav-link">
                <a href="/">Home</a>
                <a href="/search">Search</a>
                <a href="/generate" class="page_this">Generate</a>
            </div>
        </nav>
        <main>
            <form action="/generate" method="POST" id="img_generate_form">
                <div id="both_text_wrapper">
                <div class="label">
                    <span class="label-text">Describe the scene</span>
                </div>
                <div id="query_textarea_div">
                    <textarea
                        placeholder="{{query}}"
                        name="query"
                        value="{{query}}"
                    >{% if generated_text%}{{query}}{% endif %}</textarea>
                    <div id="generated_text_display">
                        <div id="generated_text_wrapper">
                        {% if generated_text%}
                            <p>{{generated_text}}</p>
                        {%endif%}
                        </div>
                    </div>
                </div>
                </div>
               
                <div id="model_selector">
                    <div class="label">
                        <span class="label-text">Pick the model</span>
                    </div>
                    <select
                        class="select select-bordered w-full max-w-xs"
                        name="model"
                    >
                        <option value="stable_diffusion">
                            Stable Diffusion
                        </option>
                        <option value="lora">Lora</option>
                        <option value="midjourney">Midjourney</option>
                        <option value="lexica">Lexica</option>
                    </select>
                </div>
               
                <button class="btn btn-neutral" id="generate_button" onclick="button2loading(this)">
                    Generate
                </button>
            </form>
            <div id="img_label_wrapper">
                <div class="label">
                    <span class="label-text">Generated image</span>
                </div>
            <div id="img_wrapper">
                
                {% if img_stream %}
                <img src="data:;base64,{{img_stream}}" alt="Generated Image"/>
                {% endif %}
            </div>
        </div>
        </main>
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
        <script src="static/js/script.js"></script>
    </body>
</html>
