<!DOCTYPE html>
<html lang="en">
    {% include "base_head.html"%}

    <head>
        <link
            rel="stylesheet"
            href="static/css/style_search.css"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="static/css/style_index.css"
            type="text/css"
        />
    </head>

    <body>
        <nav>
            <div id="nav-title"><a href="/">Magic Prompt</a></div>
            <div id="nav-link">
                <a href="/" class="page_this">Home</a>
                <a href="/search">Search</a>
                <a href="/generate">Generate</a>
            </div>
        </nav>

        <main>
            <div id="search-header">
                <div id="introduce-header">
                    <h1>Explore the world's best AIGC prompts.</h1>
                    <p>Prefer. Search again. No end.</p>
                </div>

                <div id="search-bar">
                    <form action="/search" method="POST" id="myForm">
                        <div id="input-wrapper-filter">
                            <div id="input-wrapper">
                                <img
                                    src="static/src/magnifying-glass-solid.svg"
                                    alt="search icon"
                                    width="15"
                                    height="15"
                                    id="icon-magnifying-glass"
                                />
                                <input
                                    id="search-input"
                                    type="text"
                                    name="query"
                                    placeholder="{{query}}"
                                />
                                <img
                                    src="static/src/image-regular.svg"
                                    alt="search icon"
                                    width="15"
                                    height="15"
                                    id="img-icon"
                                />
                            </div>

                            <button
                                class="btn btn-neutral"
                                onclick="submit_index_form('/search')"
                            >
                                Search
                            </button>
                            <button
                                class="btn btn-outline"
                                onclick="submit_index_form('/generate')"
                            >
                                <img
                                    src="static/src/feather-solid.svg"
                                    alt="search icon"
                                    width="15"
                                    height="15"
                                />
                                Generate
                            </button>
                        </div>
                    </form>
                    <div class="overlay">
                        <div id="img-input-wrapper">
                            <button class="btn btn-ghost btn-circle">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12"
                                    />
                                </svg>
                            </button>
                            <div id="img-input-wrapper-group">
                                <div>Search any image with Magic Prompt</div>
                                <form
                                    id="imgForm"
                                    action="/submit_a_picture"
                                    method="post"
                                    enctype="multipart/form-data"
                                >

                                <div>
                            
                                    <label for="dropzone-file" class="flex flex-col items-center w-full max-w-lg p-5 mx-auto mt-2 text-center bg-white border-2 border-gray-300 border-dashed cursor-pointer dark:bg-gray-900 dark:border-gray-700 rounded-xl">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-gray-500 dark:text-gray-400">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
                                        </svg>
                                
                                        <h2 class="mt-1 font-medium tracking-wide text-gray-700 dark:text-gray-200">Image File</h2>
                                
                                        <p class="mt-2 text-xs tracking-wide text-gray-500 dark:text-gray-400">Upload or darg & drop your file JPEG, PNG or JPG. </p>
                                
                                        <input id="dropzone-file" type="file" class="hidden" 
                                        name="img"
                                        accept="image/jpeg, image/png, image/bmp, image/tiff, image/webp, image/jpg"
/>
                                    </label>
                                </div>

                                    <div id="img-input-group"> 
                                        <button
                                            class="btn btn-outline"
                                            onclick="submit_img_form('/submit_a_picture', this)"
                                        >
                                            Go!
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="results-wrapper">
                {% for value in result %}
                <div class="single-result-card">
                    <img
                        src="{{ value[1] }}"
                        alt="Image"
                        onerror="imgError(this);"
                    />
                    <div class="prompt-text-wrapper">
                        <p class="prompt-text-p">{{ value[0] }}</p>
                    </div>
                    <form action="/search" method="POST">
                        <input
                            type="hidden"
                            name="query"
                            value="{{ value[0] }}"
                        />
                        <!-- <input type="hidden" name="query" value="{{ value[2] }}" /> -->
                        <!-- <input type="hidden" name="title" value="{{ value[0] }}" /> -->
                        <input type="submit" value="Find Similar" />
                        <div class="pick-this">
                            <span>Copy</span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                height="16"
                                width="14"
                                viewBox="0 0 448 512"
                                class="icon-copy"
                            >
                                <path
                                    d="M208 0H332.1c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9V336c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V48c0-26.5 21.5-48 48-48zM48 128h80v64H64V448H256V416h64v48c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48z"
                                    fill="white"
                                />
                            </svg>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </main>
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
        <script src="static/js/script.js"></script>
    </body>
</html>
